<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Url Shortner</title>
  </head>
  <body>
    <%- include("./partials/header.ejs") %> <% if(user) { %>
    <h2>You are logged In</h2>
    <% } else { %>
    <h2>You are not logged In</h2>
    <% } %>

    <div class="container">
      <h1>Url Shortner</h1>

      <form action="/" method="post">
        <div>
          <label for="Url">Enter Url:</label>
          <input type="url" name="url" id="url" required />
        </div>

        <div>
          <label for="shortcode">Enter shortcode:</label>
          <input type="text" name="shortcode" id="shortcode" required />
        </div>

        <button class="shorten-btn" type="submit">Shorten</button>
      </form>

      <h2>Shortened Urls</h2>
      <ul>
        <!-- {{Shortened_URLs}} -->

        <!-- links.map(({shortCode, url}) => `<li><a href="/${shortCode}" target="_blank">${host}/${shortCode}</a> - ${url}</li>`).join(""); -->

        <% links.map(({shortCode, url}) => { %>
        <li>
          <a href="/<%= shortCode %>" target="_blank"
            ><%= host %>/<%= shortCode%></a
          >
          - <%= url%>
        </li>
        <% }) %>
      </ul>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
